.conten {
    margin: 16px;
    padding: 16px;
    box-shadow:  5px 5px 5px rgba(0,0,0,0.3);
    max-width: 1250px;
    height: 500px;
}

.etiqueta {
    color: rgb(0,90,186);
    font: bolder 26px Arial;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    margin: 0px;
    padding: 0px;
}

.separacion {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    margin: 16px;
    max-height: 1px;
    max-width: 1218px;
}

.descripcion {
    color: rgb(0,90,186);
    font: normal 22px Arial;
    text-align: center;
}

.total {
    font: normal 20px Arial;
    color: rgb(0,90,186);
    margin: 10px;
    padding: 0px; 
}

.celda {
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    float: left;
}

.celdaNRC {
    max-width: 5px;
}

.totalColisiones {
    margin: 1px;
    padding: 0px;
    float: left;
    display: flexbox;
}