.contenedorSubirArchivo {
    margin: 30px;
    padding: 20px;
    box-shadow:  3px 3px 20px rgba(0,0,0,0.3);
    max-width: 1210px;
    height: 470px;
}

.tituloPagina {
    color: rgb(0,90,186);
    font: bolder 16px Arial;
    text-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    float: left;
    margin-bottom: 0px;
}

.nombreUsuario {
    color: rgb(0,90,186);
    font: bolder 16px Arial;
    float: left;
    margin-bottom: 0px;
}

.separacion {
    border-top-style: solid;
    border-top-width: 2px;
    margin: 10px;
    max-height: 1px;
    max-width: 1190px;
}

.datosArchivo {
    border-style: solid;
    max-width: auto;
    border-right-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.descripcion {
    color: rgb(0,90,186);
    text-align: center;
}

.selectorArchivo {
    margin: 5px;
}

.total {
    font-size: 16px;
    font-style: inherit;
    color: rgb(0,90,186);
    margin: 5px;
    padding: 0px; 
}

.contenedorColisiones {
    background-color: rgba(0,0,0,0.3);
}

.colision {
    font-size: 14px;
}

.celda {
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    float: left;
}

.celdaNRC {
    max-width: 5px;
}

.totalColisiones {
    margin: 1px;
    padding: 0px;
    float: left;
    display: flexbox;
}