.bo {
    font: normal 12px Arial;
    color: rgb(255,255,255);
    border-color: rgb(255,255,255);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    float: right;
    height: 30px;
}

.bo:hover {
    background-color: rgba(255,255,255,0.3);
    border-color: rgb(255,255,255);
}